.post
	.entry-title
		font-size: $h2-font-size
		margin-bottom: rem-calc(15px)

	.entry-meta
		font-size: $text-small
		color: $silver
		margin-bottom: rem-calc(15px)
		a
			color: $silver
	img
		width: 100%
		height: auto
		margin-bottom: rem-calc(22px)
.widget_search
	margin-bottom: rem-calc(22px)
	form
		input
			border: 1px solid $silver
    		background-color: #fff
    		height: 45px
			border-radius: 0px
			font-size: 1.0625rem
			box-shadow: none
			color: silver
		.input-group
			.input-group-append
				position: absolute
				top: 28%
				display: inherit
				right: 15px
				color: $gray
.widget_recent_entries,
.widget_archive,
.widget_categories
	.widget-title
		font-size: $h4-font-size
		text-transform: uppercase
		padding: $spacers2 0
		margin-bottom: $spacer
.widget_recent_entries
	ul
		li
			margin-bottom: $spacer
			a
				display: block

				img
					display: inline-block
					margin-right: $spacer
				.post-date
					font-size: $text-tiny
					color: $silver
.widget_archive
	ul
		li
			padding: $spacers1 0
			background-color: $gainsboro
			&:last-child
				background-color: rgba($silver, 0.5)
				margin-bottom: $spacer
			font-size: 0
			a
				color: $black
				position: relative
				display: block
				font-size: $text-small
				margin: $spacers2
				+press
					color: $black
				&:after
					content: ""
					display: inline-block
					width: 0
					height: 0
					border-top: 5px solid transparent
					border-bottom: 5px solid transparent
					border-left: 5px solid $black
					position: absolute
					top: 25%
					right: 0
.widget_categories
	ul
		li
			padding: $spacers2 0
			border-top: 1px solid $silver
			&:last-child
				border-bottom: 1px solid $silver
				margin-bottom: $spacer
			a
				position: relative
				display: block
				+press
					color: $silver
				&:after
					content: ""
					display: inline-block
					width: 0
					height: 0
					border-top: 5px solid transparent
					border-bottom: 5px solid transparent
					border-left: 5px solid $silver
					position: absolute
					top: 25%
					right: 0

.entry-footer
	background: transparent

.list-shared
	border: 1px solid $silver
	border-radius: 0
	+MQMAX(SL)
		flex-direction: row
	li.list-group-item
		border: none
		padding: $spacers2 $spacers4
		border-left: 2px solid $gainsboro !important
		+MQMAX(SL)
			padding: $spacers2 $spacers3
		a
			color: $silver

/// COMMENTS
.comments-area
	padding: $spacers4 0 rem-calc(150px)
	.comments-title
		background: $gainsboro
		padding: $spacers5 $spacers5 0 $spacers5
	.comment-reply-title
		font-size: $h2-font-size
		padding: $spacers4 0
	.comment-notes
		margin-bottom: $spacer
	.comment-list
		padding: 0
		.comment-body
			padding: $spacers5
			background: $gainsboro
			footer.comment-meta
				background: transparent
				.comment-author
					img
						width: 80px
						height: 80px
						border-radius: 50%
						margin-right: $spacer
				.comment-metadata
					padding-left: rem-calc(95px)
					margin-top: rem-calc(-35px)
    				margin-bottom: rem-calc(37px)
					a
						color: $silver
			.comment-content
				margin-bottom: rem-calc(15px)

			.comment-content,
			.reply
				padding-left: rem-calc(95px)


form.comment-form
	textarea.form-control,
	input.form-control
		background: $gainsboro
		box-shadow: none
		border-radius: 0
	.form-submit
		margin-top: $spacers4
		.btn-secondary
			background-color: $white !important
			border: 2px solid $primary
			color: $primary


