.box-shadow
	box-shadow: $boxShadow
	&-top
		box-shadow: $boxShadowTop

// Box detail product
.box-description-product
	margin-bottom: 22px
	.title
		+header
			font-size: rem-calc(22px)
			text-transform: uppercase
			font-weight: normal
			margin-bottom: 10px
			color: $second
	.paragraph
		padding: 22px
		background-color: $silver
		box-shadow: $shadow

		p
			font-size: rem-calc(22px)
			font-weight: 100
.box-data-detail-product
	margin-bottom: 22px
	ul,
	ol
		li
			margin-bottom: 12px
			font-size: rem-calc(22px)
			font-weight: 100
			strong, b
				font-weight: 500

// Box archive categorie
.archive.tax-categoria
	.woocommerce-breadcrumb,
	.woocommerce-result-count,
	.woocommerce-ordering,
	.woocommerce-products-header__title.page-title,
	.container-single,
	.compare-product,
	.bgi-single-product
		display: none

// Box site product database
.product-template-default.single.single-product,
.box-site-product
	//
	.bgi-intro-archive,
	.container-archive,
	.widget-area
		display: none
	.wrapper
		padding: 0 15px
	.woocommerce
		&-breadcrumb
			display: none
		&-product-gallery
			padding: 22px
			background-color: $white
			border-radius: 12px
			box-shadow: $boxShadow
	.entry-summary
		.product_meta
			display: none
		.product_title
			font-size: rem-calc(22px)
			text-transform: uppercase
			font-weight: normal
			margin-bottom: 10px
		.price
			.woocommerce-Price-amount
				font-size: rem-calc(45px)
		.woocommerce-product-details__short-description
			font-size: rem-calc(22px)
			font-weight: normal
			padding-bottom: 22px
			border-bottom: 2px solid $tertiary
			p
				color: $second
		form.cart
			padding: 22px
			background-color: $white
			border-radius: 12px
			box-shadow: $shadow
			.quantity
				float: inherit
				width: 100%
				margin-bottom: 55px !important
				&:before
					content: "Cantidad"
					display: inline-block
					color: $second
					text-transform: uppercase
					width: 50%
			input
				border: none
				border-radius: 22px
				background-color: $white
				box-shadow: $shadow
			.btn-outline-primary
				background-color: $tertiary !important
				color: $white
				padding: 22px 20px
				border-radius: 22px
				cursor: pointer
				display: inline-block
				width: 100%
				vertical-align: middle
				text-transform: uppercase
				font-weight: 900
				+press
					background-color: $tertiary !important
					color: $white

$value-box: rem-calc(55px)
$size-font-compare: rem-calc(10px)
// Box Content Compares
.box-content-compare
	position: relative
	background: $silver
	box-shadow: $shadow
	width: 100%
	overflow: hidden
	.date
		padding: 12px
		text-align: center
		color: $second
		.price
			color: $second
			font-weight: normal
			font-size: $size-font-compare
		.info
			text-transform: uppercase
			font-weight: 600
			font-size: $size-font-compare
	.box-icon
		background: $silver
		box-shadow: $shadow
		.icon-item
			height: $value-box + rem-calc(24px)
			.ion
				font-size: rem-calc(35px)
				color: $second
	.image
		padding: 12px
		&-item
			height: $value-box

	a.link
		+btnGhost

// BOX Session
.box-sesion
	.woocommerce
		background-color: $white
		text-align: center
		.woocommerce
			&-error
				border-top-color: $tertiary
				&:before
					color: $tertiary
		form.lost_reset_password,
		form.login
			border: 0px solid transparent
			padding: 40px
			margin: 0
			.btn-outline-primary
				background-color: $tertiary !important
				color: $white
				padding: 15px
				border-radius: rem-calc(25px)
				text-transform: uppercase
				font-size: rem-calc(15px)
				cursor: pointer
				display: inline-block
				width: 100%
				text-align: center
				+press
					background-color: $tertiary !important
					color: $white
			.woocommerce-form-row
				font-size: 23px
				color: $lightGray
				span.required
					color: $tertiary
				input.input-text
					padding: 12px
					border-radius: 0
					border-top: 0px solid transparent
					border-left: 0px solid transparent
					border-right: 0px solid transparent
					border-bottom: 1px solid $black
					box-shadow: inherit
				span.password-input
					width: 100%
// BOX Shoping
.box-shopping-card
	background: $silver url(#{$imagePath}bg-prod.png)repeat center center/100%

// BOX acordion
.box-accordion
	.card
		border: 0px solid transparent
		.card
			&-header
				border-radius: 0
				text-align: center
				border-bottom: 0px solid transparent
				padding: 0
				+header
					padding: 15px 15px
					background-color: $silver
					color: $second
					&[aria-expanded="true"]
						background-color: $tertiary
						color: $white
			&-body
				background-color: $silver
				color: $second
				margin-bottom: 5px
				box-shadow: $shadow

// Box gallery Polizas
.box-gallery
	&-poliza
		img
			max-width: 365px
			border-radius: 45px
			+MQMAX(L)
				max-width: 230px
				margin: 0 auto
				display: block
		&-min
			img
				max-width: 165px
				border-radius: 45px
				+MQMAX(L)
					max-width: 85px
					margin: 0 auto
					display: block
// Box sidebar Polizas
.box-sidebar-poliza
	padding: 16px
	background-color: $white
	box-shadow: $shadow
	display: block
	width: 100%
	position: relative
	z-index: 2
	.title
		margin-bottom: 5px
	figure.img
		margin: 0 auto
		width: 92%
		display: inline
		img.max
			width: 300px

.box-poliza-list
	.title
		+header
			color: $second
			font-weight: 900
			text-transform: uppercase
			margin-bottom: 0
			text-align: center
			+fz(2)

// Mascota list
.box-mascotas-list
	.entry-iframe
		box-shadow: $shadow
		display: block
		width: 100%
	.title
		+header
			color: $second
			font-weight: 900
			text-transform: uppercase
			margin-bottom: 0
			text-align: center
			+fz(3)
			+MQMAX(L)
				+fz(2)
	.sub-title
		+header
			color: $tertiary
			font-weight: 500
			text-transform: uppercase
			margin-bottom: 0
			text-align: center
			+fz(3)
			+MQMAX(L)
				+fz(2)

// single post
.hotels
	.post-navigation
		display: none

// Wrapper content Tipe
.wrapper
	position: relative
.widget-filter-area
	.widget
		.widget
			&-title
				font-weight: 400
				text-transform: uppercase
				margin-bottom: 0
				+fz(1.3)
				&::after
					content: ""
					display: inline-block
					width: 70%
					height: 2px
					background-color: $second
		.tagcloud
			width: 100%
			background-color: $silver
			padding: 15px
			margin-bottom: 50px
			box-shadow: $shadow
			.tag-cloud-link
				display: block
				color: $second
				font-weight: 400
				font-size: 1rem !important
				margin-bottom: 5px

//BOX MAP
.box-map
	.leaflet-map
		height: 380px !important

// BOX TAP SLIDER
.box-tap-slider
	.fade
		height: 0
	.fade.active
		height: auto

// BOX LIST SEARCH
.box-list-search
	+MQ(L)
		width: 80%
		margin: 0 auto
	.list
		li
			padding: 0px 6px
			width: 100%
			+MQ(L)
				width: 18%

// Box Plan
.box
	&-plan
		.title
			text-align: center
			+heading
				font-weight: 900
				text-transform: uppercase
				text-align: center
				+fz(2.3)
		&-list
			.list-group
				li
					border: 0px solid transparent
					padding: .25rem 1.25rem

// BOX ABOUT
.box
	&-about
		.paragraf
			p
				font-size: $p-font-paragraf
				margin-bottom: $p-parparagraf-mb
		&-vision
			padding: 120px 0px
			.title
				+heading
					font-size: $h-font-size
					color: $white
					margin-bottom: 22px
					font-weight: 900
					text-align: center
					text-transform: uppercase
			.paragraf
				padding: 0 12px
				p
					font-family: $p-font-paragraf
					color: $white
					text-align: justify

// BOX MENU RIGHT
.box
	&-menu-right
		width: 90%
		+MQMAX(L)
			width: 100%
		.title:after
			content: ""
			display: inline-block
			height: 2px
			display: block
			background-color: $second
			vertical-align: middle
			+MQMAX(XL)
				margin: 0 auto
				width: 56%
			+MQ(XL)
				margin: 0
				width: 86%

		.subtitle
			+heading
				text-transform: uppercase
				margin-bottom: 5px
				font-weight: 700
				+fz(1.2)


		.title
			+MQMAX(XL)
				text-align: center
			+MQ(XL)
				text-align: left
			+heading
				text-transform: uppercase
				margin-bottom: 12px
				+fz(1.2)

		.list
			&:after
				container: ""
				width: 86%
				height: 5px
				display: block
				background-color: red
			.menu
				background-color: $silver
				box-shadow: $shadow
				border-radius: 0
				li
					border: none
					+MQMAX(XL)
						text-align: center
					+MQ(XL)
						text-align: left
					a
						color: $black
					figure
						background-color: $white
						box-shadow: $shadow
						padding: 12px
						margin-bottom: 22px

// BOX
.box-benefist
	.list-group
		.list-group-item
			border: none
			background-color: transparent
	.btn_alt--product
		text-decoration: none

		.circle
			width: 100px
			height: 100px
			background-color: transparent
			border: 3px solid $tertiary
			svg
				fill: $tertiary
			&.right
				+MQMAX(SL)
					margin: 14px auto
				+MQ(SL)
					margin: 14px 55%
			&.left
				+MQMAX(SL)
					margin: 14px auto
				+MQ(SL)
					margin: 14px 0
		+press
			.circle
				background-color: $second
				border: 3px solid $second
				svg
					fill: $white
// BOX form quote
.box
	&-form
		&-quote
			background: $silver
			padding: 44px 30px
			.title
				+heading
					font-weight: 600
					text-transform: uppercase
					+fz(1.5)

// BOX HOTELS LIST
.box
	&-hotels-list
		figure
			img
				width: 90%
		.title
			+MQMAX(L)
				text-align: center
			+MQ(L)
				text-align: left

			+heading
				font-weight: 600
				text-transform: uppercase
				+fz(1.5)
				a
					color: $second

		.subtitle
			+heading
				+fz(2)
		.paragraf
			p
				+fz(1.2)

// BOX HOTELS
.box
	&-hotels
		.title
			+heading
				font-weight: 600
				text-transform: uppercase
				+fz(1.5)
		.subtitle
			+heading
				+fz(2)
		.paragraf
			p
				+fz(1.2)

// BOX LIST
.box
	&-list
		.list-inline
			&-item
				background: $silver
				padding: 12px
				font-size: 22px
				width: 200px
				margin-bottom: 12px
				box-shadow: $shadow
				vertical-align: top
				+MQMAX(XL)
					width: 160px
				+MQMAX(L)
					width: 60%
					margin-left: auto
					margin-right: auto

.box
	&-list-policies
		.list-inline
			&-item
				padding: 12px
				.box-item
					background: $silver
					margin-bottom: 10px
					box-shadow: $shadow
					vertical-align: top
					width: 100%
					+MQMAX(SL)
						width: 30%
					+MQMAX(L)
						width: 160px
					+heading
						font-weight: 700
						text-align: center
						+fz(1.3)
					&-min
						padding: 5px 0px
						background-color: $second
						cursor: pointer
						img
							height: 25px
						+press
							background-color: $tertiary
					&-max
						padding: 60px 33px
// BOX Foundation
.box
	&-foundation
		.title
			+heading
				font-weight: 900
				text-transform: uppercase
				text-align: center
				+fz(2.3)
				+MQMAX(L)
					+fz(1.3)
		.paragraf
			p
				+fz(1.2)
				+MQMAX(L)
					+fz(0.95)

//BOX CALL TO ACTION
.box
	&_call-to-action
		.paragraf
			+fz(1.9)
			margin-bottom: 9px

		.subtitle
			+fz(1.9)
			margin-bottom: 9px
		>.title
			font-weight: 900
			text-transform: uppercase
			+fz(3.5)
			margin-bottom: 9px
		.call
			background-color: $tertiary
			border-radius: 25px
			padding: 5px 22px
			display: inline-block
			color: $white
			margin-bottom: 12px
			.title
				color: $white
				font-weight: 900
				+fz(3)

//BOX CONSTRUCTION
.box
	&--construction
		height: 100vh
		overflow: hidden
		background: $second url(#{$imagePath}patter-pets.png)repeat
	&-to-action
		.container
			+MQMAX(SL)
				//margin: 160px auto
.box
	&-general
		.title
			+heading
				font-weight: 900
				+fz(2)
		.subtitle
			+heading
				+fz(2)
		.paragraf
			p
				+fz(1.2)


// BOX TITLE
.box
	&-head
		.title
			+fz(3.5)
			font-weight: 900
			+MQMAX(L)
				+fz(2.5)

// BOX PROD
.box
	&--prod
		background: $silver url(#{$imagePath}bg-prod.png)repeat center center/112%
		padding: 50px 0 150px
		+MQMAX(L)
			background: $silver url(#{$imagePath}bg-prod.png)repeat center center/200%

// BOX Footer
.box
	&--footer
		background: $second url(#{$imagePath}bg-prod.png)repeat center center/112%
		padding: 150px 0
		+MQMAX(L)
			background: $second url(#{$imagePath}bg-prod.png)repeat center center/200%

// BOX SLIDER HOME
.box
	&-slider-home
		background-image: url(#{$imagePath}bgi-slider.png)
		background-repeat: repeat-y
		background-size: 73%
		background-position-x: center
		background-position-y: -425px
		overflow: hidden
		.slider
			&-height
				min-height: 500px
			&-content
				.title
					+heading
						font-size: 45px
						font-weight: 900
						+MQMAX(SL)
							//font-size: 38px
							+fz(2.7)
							margin-bottom: 12px
				.subtitle
					+heading
						font-size: 35px
						+MQMAX(SL)
							margin-bottom: 12px
							+fz(1.6)
				.paragraph
					+heading
						font-size: 19px
						+MQMAX(SL)
							+fz(0.95)
			&-img
				margin-bottom: -209px
				+MQMAX(SL)
					width: 50%
					margin: 0 auto -109px
// BOX PARTNERS
.box
	&_slider
		&--partners
			padding: 44px 0
			background-color: $white
			box-shadow: $shadow
			border-radius: 12px
			width: 100%
			display: inline-block
			position: relative
			.list-group
				.box_logo--partners
					padding: 0 12px
					&:first-child
						padding-left: 44px
					&:last-child
						padding-right: 44px

// Box Footer Content
.box-content-footer
	a span
		text-transform: uppercase


.element
	position: absolute
	display: inline-block
	z-index: 1
	+MQMAX(L)
		transform: rotate(90deg)
	+MQMAX(SL)
		position: relative
	&-top
		top: 0
	&-bottom
		bottom: 0
	&-left
		left: 55px
		+MQMAX(XL)
			left: -55px
		+MQMAX(SL)
			left: inherit
			top: 160px
			width: 60%
			display: grid
			margin: -54px auto
		&--child
			left: 155px
			+MQMAX(XL)
				left: -45px
			+MQMAX(SL)
				left: -55px
	&-right
		right: 55px
		top: 0
		+MQMAX(XL)
			right: -45px
			top: 0
		+MQMAX(SL)
			right: inherit
			top: 0
			width: 195px
			display: grid
			margin: auto
		&--child
			right: 155px
			+MQMAX(XL)
				right: -45px
			+MQMAX(SL)
				right: -55px
	&--child
		display: inline-block
		&-top
			width: 250px
		&-bottom
			width: 350px
		img
			width: 100%
// DOGS DECO CONTACT
.dog
	position: absolute
	display: inline-block
	z-index: 0
	&--contact
		bottom: -136px
		right: 0
// PETS DECO HOME
.pets
	position: absolute
	display: inline-block
	z-index: 0
	&-top
		top: -175px
		+MQMAX(L)
			top: -116px
	&-bottom
		bottom: -170px
	&-left
		left: 50px
		+MQMAX(L)
			left: 0
		+MQMAX(XL)
			left: -45px
		+MQMAX(SL)
			left: -55px

		&--child
			left: -15px
			+MQMAX(XL)
				left: -45px
			+MQMAX(SL)
				left: -55px
	&-right
		right: 55px
		+MQMAX(XL)
			right: -45px
		+MQMAX(SL)
			right: -55px
		&--child
			right: -5px
			+MQMAX(XL)
				right: -45px
			+MQMAX(SL)
				right: -55px
	&--child
		display: inline-block
		&-top
			width: 250px
		&-bottom
			width: 350px
		img
			width: 100%
img.img-max
	+MQ(XL)
		height: 321px
