form
	label span
		color: $tertiary
		font-size: $h6-font-size
	textarea.form-control,
	input.form-control
		border: 0 solid $white
		background-color: $white
		height: 45px
		border-radius: 12px
		font-size: $h6-font-size
		color: $primary
		width: 100%
		box-shadow: $shadow
		&::placeholder
			color: $primary
	textarea.form-control
		height: auto

//.wpcf7
.wpcf7 .wpcf7-form p label
	width: 100%

.wpcf7-form-control-wrap
	display: inline-block
	vertical-align: top
	width: 100%
	&.politics,
	&.terms
		width: auto
.wpcf7
	.wpcf7-form
		.available-plans select
			width: 100%
			height: 50px
			overflow: hidden
			background-color: $white
			color: $tertiary
			border: none
			box-shadow: $shadow
			-webkit-appearance: none
		.box-button
			.wpcf7-submit
				color: $white
				background-color: $tertiary
				padding: $spacers1 $spacers7
				border-radius: rem-calc(22px)
				font-weight: 700
				border: none
				letter-spacing: .1rem
				font-size: 1.3rem
				display: block
				margin: 0 auto
				+press
					color: $white

.woocommerce
	form
		.form-row
			label
				width: 100%
				display: block
				padding: 0


.woocommerce-input-wrapper
	width: 100%
	display: block


.custom-file-search
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.21 )
	&-box
		box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.21 )
		border-radius: 18%
	.custom-file-label
		border-radius: 0.5rem
		height: calc(1.5em + .75rem + 8px)
		padding: .65rem .75rem
		border-color: transparent
		&:after
			content: ""
			display: none

.contact-form
	.wpcf7
		max-width: 100% !important
