// WOOCOMERCE BOX

.woocommerce
	&--content
		.site-main
			.wpf-search-container
				.woocommerce-products-header
					.page-title
						+fz(2)
						font-weight: 900
						margin-bottom: 22px
						color: $primary
				.products
					padding:  0 22px 0 22px
					.product-type-simple
						padding: 15px
						background-color: $white
						border-radius: 12px
						box-shadow: $boxShadow
						background-color: $white
						border: none
						text-align: center
						overflow: hidden
						a
							img
								padding: 22px
							.onsale
								border-radius: 0
								background-color: $tertiary
								padding: 0
								+fz(0.7)
								transform: rotate(37deg)
								width: 100%
								left: 78px
								top: 17px
						.woocommerce-loop-product__title
							padding: .9em 0 0 0
							text-transform: uppercase
							color: $second
							font-weight: 200
							font-family: $tf
							min-height: 65px
							+fz(0.7)
						.price
							padding: .3em .9em 0 .9em
							display: flex
							flex-direction: column
							align-items: center
							del
								span.amount
									display: block
									padding: 0 .5em
									color: $gray
									font-size: .9em
									margin-bottom: 0
									font-weight: 600
									font-family: $tf
							ins
								text-decoration: none
								span.amount
									color: $tertiary
									font-size: 1.8em
							span.amount
								color: $tertiary
								font-size: 1.8em
								font-weight: 900
								font-family: $tf
.woocommerce
	div.product
		p.price
			color: $tertiary
			font-size: 1.8em
			font-weight: 700
		.stock
			color: $tertiary
			font-size: 1.8em
			font-weight: 700
			margin-bottom: 12px
	form.cart
		div.quantity
			float: inherit
			display: inline-block

.woocommerce
	form
		.form-row
			width: 100%

// Filter

.select2-container--default .select2-selection--single
	background-color: $silver !important
	border: 0  !important
	border-radius: 0  !important
	border-bottom: 1px solid $second  !important
	box-shadow: $shadow  !important
	height: 45px  !important
	&:after
		// content: ""
		display: inline-block
		width: 100%
		height: 2px
		background-color: $second
	.select2-selection__rendered
		line-height: 43px  !important
		color: $second  !important
	.select2-selection__arrow
		top: 25%  !important
		bottom: 1px  !important
		b
			border-color: $tertiary transparent transparent transparent  !important

// Pagination
.woocommerce

	nav.woocommerce-pagination
		ul
			border: 0px solid transparent  !important
			li
				span
					background-color: $silver  !important
					color: $second  !important
					line-height: 3rem  !important
					&.current
						background-color: $second  !important
						color: $white  !important
						box-shadow: $shadow  !important


// woocomerce
.woocommerce
	.cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals
		float: inherit !important
		width: 100%
// Shoping Card
.woocommerce
	.woocommerce-cart-form
		padding: 15px 10px 5px 10px
		box-shadow: $shadow-shopping-card  !important
		background-color: $silver
	table.woocommerce-cart-form__contents
		border: none
		border-radius: 0px
		margin-bottom: 0px
		a.remove
			color: $tertiary
			font-weight: normal
			font-size: 1.3rem
			+press
				background: $tertiary
		th
			font-weight: 500
			color: $tertiary
		td
			border-top: none
			&.product-name
				a
					color: $second
					font-weight: normal
					text-transform: uppercase
					font-size: 1rem
			&.product-subtotal,
			&.product-price
				span
					color: $second
					font-weight: 700


	table.cart
		input
			border-radius: 22px
			border: 1px solid $second
		td.actions
			.coupon
				.input-text
					box-shadow: inherit
					border-radius: 0
					border-bottom: 1px solid $tertiary !important
					border-top: 0 solid transparent
					border-left: 0 solid transparent
					border-right: 0 solid transparent
		.product-thumbnail
			img
				width: auto

.cart-collaterals
	padding: 12px
	box-shadow: $shadow-shopping-card  !important
	background-color: $white
	.cart_totals
		+heading
			font-weight: 700
			color: $second
			text-transform: uppercase
			text-align: center
			margin-bottom: 12px
			padding-bottom: 12px
			border-bottom: 1px solid $second
		table.shop_table
			border: 0px solid transparent
			th
				font-weight: normal

			td
				color: $tertiary

			.order-total
				th
					font-weight: 700
					color: $tertiary
				th, td
					border-top: 0px solid transparent

	.wc-proceed-to-checkout
		.btn-primary
			border-radius: 0
			background-color: $tertiary !important
// Alerts
.woocommerce-message
	border-top-color: $tertiary
	&::before
		color: $tertiary
