// WOOCOMERCE BOX

.woocommerce
	&--content
		.site-main
			.wpf-search-container
				.woocommerce-products-header
					.page-title
						+fz(2)
						font-weight: 900
						margin-bottom: 22px
						color: $primary
				.products
					padding: 22px
					.product-type-simple
						background-color: $white
						border-radius: 0
						border: none
						text-align: center
						min-height: 453px
						overflow: hidden
						a
							img
								padding: 22px
							.onsale
								border-radius: 0
								background-color: $tertiary
								padding: 0
								+fz(0.7)
								transform: rotate(37deg)
								width: 100%
								left: 78px
								top: 17px
						.woocommerce-loop-product__title
							padding: .9em .9em 0 .9em
							text-transform: uppercase
							color: $second
							font-family: $tf
							+fz(0.9)
						.price
							padding: .3em .9em 0 .9em
							display: flex
							flex-direction: column
							align-items: center
							del
								span.amount
									display: block
									padding: 0 .5em
									color: $gray
									font-size: .9em
									margin-bottom: 0
									font-weight: 600
									font-family: $tf
							ins
								text-decoration: none
								span.amount
									color: $tertiary
									font-size: 1.8em
							span.amount
								color: $tertiary
								font-size: 1.8em
								font-weight: 400
								font-family: $tf
.woocommerce
	div.product
		p.price
			color: $tertiary
			font-size: 1.8em
			font-weight: 700
		.stock
			color: $tertiary
			font-size: 1.8em
			font-weight: 700
			margin-bottom: 12px
	form.cart
		div.quantity
			float: inherit
			display: inline-block

.woocommerce
	form
		.form-row
			width: 100%

// Filter

.select2-container--default .select2-selection--single
	background-color: $silver !important
	border: 0  !important
	border-radius: 0  !important
	border-bottom: 1px solid $second  !important
	box-shadow: $shadow  !important
	height: 45px  !important
	&:after
		// content: ""
		display: inline-block
		width: 100%
		height: 2px
		background-color: $second
	.select2-selection__rendered
		line-height: 43px  !important
		color: $second  !important
	.select2-selection__arrow
		top: 25%  !important
		bottom: 1px  !important
		b
			border-color: $tertiary transparent transparent transparent  !important

// Pagination
.woocommerce

	nav.woocommerce-pagination
		ul
			border: 0px solid transparent  !important
			li
				span
					background-color: $silver  !important
					color: $second  !important
					line-height: 3rem  !important
					&.current
						background-color: $second  !important
						color: $white  !important
						box-shadow: $shadow  !important
