.btn
	border: none
	box-shadow: none
	border-radius: rem-calc(25px)
	font-size: $font-size-base
	font-family: $sf
	text-transform: uppercase
	padding: $spacers4
	display: inline-block
	cursor: pointer
	font-weight: 600
	-webkit-appearance: inherit
	transition: all 0.3s ease-in-out
	&-search
		padding: 11px 17px
		background-color: $second !important
		border-radius: .6rem
		svg
			fill: $white
	&-primary
		color: $white
		background-color: $primary !important
		padding: $spacers3 $spacers6
		border-radius: rem-calc(50px)
		letter-spacing: .2rem
		+press
			color: $white
	&-secondary
		color: $white
		background-color: transparent
		border: 2px solid $white
		padding: $spacers3 $spacers5
		border-radius: rem-calc(50px)
		letter-spacing: .2rem
		+press
			background-color: transparent
			color: $white

.btn
	&_card
		color: $second
		background-color: transparent
		padding: 12px
		+press
			color: $tertiary
			background-color: transparent
	&_social
		color: $tertiary
		svg
			fill: $tertiary
	/// PRODUCT
	&_alt--product
		display: flex
		align-items: center
		justify-content: center
		font-weight: 900
		background-color: transparent
		transition: color 0.8s linear 0.2s
		.circle
			border: 3px solid $second
			background-color: transparent
			color: $second
			transition: color 0.8s linear 0.2s
			width: 150px
			height: 150px
			display: flex
			align-items: center
			justify-content: center
			padding: 22px
			border-radius: 50%
			margin-bottom: 22px
			svg
				fill: $second
		+press
			.circle
				border: 3px solid $tertiary
				background-color: $tertiary
				color: $white
				svg
					fill: $white

.btn-outline-primary
	color: $second
	background-color: transparent
	padding: 5px 12px
	border-radius: 0
	font-weight: 600
	+press
		background-color: transparent
		color: $tertiary
